.movieInfo {
  background-color: transparent !important;
  border-radius: 10px;
}
.circularProgressBarContainer {
  width: 8rem;
  height: 8rem;
}
.container {
  height: 20rem;
}

.containerBorder {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.textDesign {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #bc13fe;
}
